.info_section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.field_title {
  color: #78849EB9;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 10px;
}

.field_value {
  color: #78849E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.description {
  text-align: justify;
  text-justify: inter-word;
}

.makers {
  color: #00BAFF;
}
