.years_container {
  display: flex;
  position: absolute;
  top: 45%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 178px;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding-top: 20px;
}

.years_title {
  color: #78849EB9;
  font-size: 14px;
  padding-bottom: 10px;
}

.years_label {
  color: #536b7a;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: #9aaebb;
  }
  padding: 4px;
}
